#row-1 {
	background-color: yellow;
}

#row-2 {
	background-color: pink;
}

#row-3 {
	background-color: white;
}

#row-4 {
	background-color: yellow;
}

.icons {
	font-size: 100px;
	text-align: center;
}

h1 {
	text-align: center;
}